body {
    background-color: mediumaquamarine;
    
}

.login_div1 , .login_div2 {
background-color:pink;
text-align: center;
border-width: 20px;
border-radius: 15px;
padding: 10px;
float: none;
width: 600px;
    
}

.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      color:white;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  #output
  {
    margin-left: 300px;
    background: white;
    border-radius:10px;
    border-top:10px solid #AA4465;
    padding: 10px;
    float:none;
    text-align:left;
  }


h1 {
  color: white;
  text-align: center;
  font-family:cursive;
}
   
#input_1 {
  width:750px;
  text-align: center;
  margin-left: 250px;
}

#input_2 {
  width:750px;
  text-align: center;
  margin-left: 250px;
}

#send {
  margin-left: 430px;
}

h2 {
  color: black;
  font-family:cursive;
  text-align: center;
  font-size: 20px;
}

#player_question {
  margin-left:475px;
}

#player_answer {
  margin-left:510px ;
}


#player1_name {
  display: inline-block;
}


#player2_name {
  display: inline-block;
}